{% extends 'base.html' %}
{% block content %}
<div class="mx-auto" ">
    {% for items in prods %}
    <div class="card align-items-center" style="width: auto; margin: 0 auto;">
      <div class="card-body">
        <a href="{% url 'product_page' id=items.pk %}">
          <h2 class="card-title">{{ items.name }}</h2>
        </a>
        <p class="card-text">{{ items.description }}</p>
        <p class="card-text">Price in cents: {{ items.price }}</p>
        <a href="{% url 'product_page' id=items.pk %}" class="btn btn-primary">Explore!</a>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
