{% extends 'base.html' %}
{% block content %}
<h2>{{ item.name }}</h2>
<p>{{ item.description }}</p>
<p>{{ item.price_in_dollars }}</p>
<div>
  <a href="{% url 'edit_product' id=item.id %}" class="btn btn-primary">Edit</a>
  <a href="{% url 'delete_product' id=item.id %}" class="btn btn-danger">Delete</a>
</div>
<hr />
<h3>Reviews</h3>
{% for review in item_review %}
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <h6> {{ review.date_created }} <span class="badge badge-light">{{ review.name }}</span> </h6>
      <p>{{ review.description  }} </p>
    </li>
  </ul>
{% endfor %}
{% endblock %}
